<footer class="border-top mt-3">
    <div class="f-info">
        <div class="f-info-socials">
          <a href="/facebook"> <i class="fa-brands fa-facebook"></i> </a>
          <a href="/twitter"><i class="fa-brands fa-x-twitter"></i> </a>
          <a href="/instagram"><i class="fa-brands fa-instagram"></i> </a>
        </div>
        <div>&copy; Stayvana — Book stays with ease</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/sitemap">Sitemap</a>
            <a href="/companydetails">Company details</a>
        </div>
    </div>
</footer>